button:disabled {
  pointer-events: unset !important;
  cursor: not-allowed !important;
}

.appbar {
  display: flex !important;
  height: 80px !important;
  padding: 0px 20px !important;
  align-items: center !important;
  background: #fff !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.toolbar {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 14px;
}

.appbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background-color: #f39c12;
}

.stepsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  display: flex;
  align-items: center;
}

.stepProgressBar {
  position: absolute;
  top: calc(50% + 24px);
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #00ffb2 0%, #ff7596 100%);
  background-size: 0%;
  background-repeat: no-repeat;
  z-index: -1;
}

.container {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf1f4;
}

.card {
  margin: 40px;
  padding: 1px;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1100px;
  height: calc(100% - 80px);
  flex-direction: column;
  align-items: center;
  border: double 1px transparent;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #03ffb2, #ff7596);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.card.fullWidth {
  margin-left: 0px;
  max-width: 100vw;
  align-items: stretch;
}

.cardContent {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 27.5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cardHeader {
  margin-left: -41px;
  margin-right: -41px;
  padding-left: 41px;
  padding-bottom: 25.5px;
  width: calc(100% + 82px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #eae9e9;
}

.cardMain {
  margin: 0 -40px -25px -40px;
  padding: 0 40px;
  width: calc(100% + 80px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.cardFooter {
  display: flex;
  height: 80.08px;
  padding: 24.54px 30px 23.54px 30px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  gap: 8.88px;
  border-top: 1px solid rgba(48, 32, 32, 0.1);
}

.cardFooter.hasCancel {
  justify-content: space-between;
}

.cardTitle {
  color: #000 !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.cardSubtitle {
  max-width: 598px;
  color: #000 !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.doubleRightBtnWrapper {
  display: flex;
  gap: 7.99px;
}

.footerBtn {
  display: flex !important;
  height: 32px !important;
  padding: 4.5px 16px 5.5px 16px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8.485px !important;
  border-radius: 4px !important;
  border: 1px solid #f3f3f3 !important;
}

.footerBtn.right {
  border: 1px solid #002733 !important;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04) !important;
}

.btnText {
  color: #000 !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.footerRightBackBtn {
  display: flex !important;
  height: 31.99px !important;
  padding: 4.49px 16.28px 5.5px 16.47px !important;
  align-items: flex-start !important;
  border-radius: 4px !important;
  border: 1px solid #616161 !important;
  background: #fff !important;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02) !important;
}

.footerRightBackBtn > .btnText {
  color: #5c5c5c !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.footerDoneBtn {
  display: flex !important;
  width: 100.44px !important;
  height: 31.99px !important;
  padding: 4.49px 15.99px 5.5px 16.2px !important;
  justify-content: center !important;
  align-items: flex-end !important;
  gap: 6px !important;
  border-radius: 4px !important;
  border: 1px solid #03ffb2 !important;
  background: #002733 !important;
}

.footerDoneBtn > .btnText {
  color: #03ffb2 !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.rightArrowIcon {
  fill: rgba(0, 39, 51, 1) !important;
}

.footerCancelBtn {
  border: none !important;
}

.footerCancelBtn > .btnText {
  opacity: 0.8 !important;
}

.btnIcon.disabled,
.btnText.disabled {
  color: #ebf1f4 !important;
}

.connectorSearchFieldWrapper {
  position: relative;
  width: 213px;
  display: flex;
  align-items: center;
  align-self: flex-start !important;
}

.connectorSearchField {
  display: inline-flex;
  width: 213px;
  height: 26px;
  padding: 3px 14px 3px 13px;
  justify-content: center;
  align-items: flex-start;
  gap: 114px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Light-Gray, #ccc);
  background: var(--Fields, #f6f7f7);
}

.integrationCardContainer {
  position: relative;
  max-width: 750px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
}

.integrationCard {
  padding: 21px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.integrationCardText {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1;
}

.integrationCardBtn {
  display: flex !important;
  height: 32px !important;
  padding: 5.29px 21.99px 5.71px 22.19px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 4px !important;
  border: 1px solid #03ffb2 !important;
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02) !important;
  color: #03ffb2 !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20.43px !important;
}

.connectedBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d0d0d0;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.43px;
}

.integrationGradientBullet {
  display: flex;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(180deg, #00ffb2 0%, #ff7596 100%);
  box-shadow: 0px 0px 10px 0px #2ae9ae;
}

.integrationBullet {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #03ffb2;
  background: rgba(0, 255, 178, 1);
}

.integrationBullet.incomplete {
  background: rgba(3, 255, 178, 1);
}

.integrationStepLine {
  width: 1px;
  height: 64.01px;
  flex-shrink: 0;
  border-radius: 1px;
  opacity: 0.5;
  background: #000;
}

.integrationStepLine.active {
  background: linear-gradient(180deg, #03ffb2 0%, #ff7596 100%);
}

.sidebarAndCardWrapper {
  width: 100vw;
  display: flex;
}

.sidebarAndCardWrapper {
  padding-left: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  overflow-y: hidden;
}

.sidebar {
  width: 209.54px;
  min-width: 209.54px;
  margin: 40px 0;
  padding: 42px 0;
  display: flex;
  gap: 16px;
}

.sidebarStepTracksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.98px;
}

.sidebarStepTextWrapper {
  margin: 0;
  padding: 0;
}
.sidebarStepTextWrapper {
  display: flex;
  flex-direction: column;
}

.sidebarStepTitle {
  color: rgba(0, 0, 0, 1) !important;
  font-family: Roboto !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 32px !important;
}

.sidebarStepDesc {
  color: rgba(0, 0, 0, 1) !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 18.858px !important;
}

.sidebarStepTitle.incomplete,
.sidebarStepDesc.incomplete {
  opacity: 0.5;
}

.integrationMethodWrapper {
  margin-top: 72.5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

.integrationMethod {
  display: inline-flex;
  width: 217px;
  height: 80px;
  align-items: center;
  gap: 15px;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  background: #fff;
}

.integrationMethodDesc {
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.makeSureText {
  margin-top: 21.39px !important;
  margin-bottom: 10px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 18px !important;
}

.integrationMethodText {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.awsAccIdText {
  margin-bottom: 5.5px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.accountIdInput {
  margin-top: 5.5px;
  width: 100%;
  max-width: 287px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #eae9e9;
}

.integrationStatusDesc {
  color: #002733 !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.spinner {
  position: relative;
  margin-top: 21.5px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  animation-name: rotateAnim;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateAnim {
  to {
    transform: rotate(405deg);
  }
}
